@import "tailwindcss";

@layer base {
  body {
    font-family: "Pretendard", sans-serif;
    color: var(--color-gray100);
  }
  button {
    cursor: pointer;
  }
}

@layer base {
  :root {
    --color-primary: #10b981;
    --color-secondary: #34d399;
    --color-tertiary: #a3e635;
    --color-gradient: linear-gradient(
      90deg,
      rgba(16, 185, 129, 1) 0%,
      rgba(163, 230, 53, 1) 100%
    );

    --color-purple: #a855f7;
    --color-blue: #3b82f6;
    --color-cyan: #06b6d4;
    --color-pink: #ec4899;
    --color-rose: #f43f5e;
    --color-orange: #f97316;
    --color-yellow: #eab308;
    --color-white: #ffffff;

    --color-bg100: #334155;
    --color-bg200: #1e293b;
    --color-bg300: #0f172a;

    --color-primary-hover: #059669;
    --color-primary-pressed: #047857;

    --color-border: rgba(248, 250, 252, 0.5);

    --color-gray100: #f8fafc;
    --color-gray200: #e2e8f0;
    --color-gray300: #cbd5e1;
    --color-gray400: #94a3b8;
    --color-gray500: #64748b;

    --color-danger: #dc2626;
  }
}

@layer utilities {
  .text-4xl-md {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
  }

  .text-3xl-bold {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
  }
  .text-3xl-semi {
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
  }

  .text-2xl-bold {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
  }
  .text-2xl-semi {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
  }
  .text-2xl-md {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
  }
  .text-2xl-rg {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
  }

  .text-xl-bold {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
  }
  .text-xl-semi {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
  }
  .text-xl-md {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
  }
  .text-xl-rg {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
  }

  .text-2lg-bold {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
  }
  .text-2lg-semi {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
  }
  .text-2lg-md {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
  }
  .text-2lg-rg {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
  }

  .text-lg-bold {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
  }
  .text-lg-semi {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
  }
  .text-lg-md {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
  }
  .text-lg-rg {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }

  .text-md-semi {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
  }
  .text-md-md {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
  }
  .text-md-rg {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }

  .text-sm-semi {
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
  }
  .text-sm-md {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
  }

  .text-xs-md {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }
  .text-xs-rg {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
  }
}
